{% extends 'base.admin.html.twig' %}

{% block title %}
    Admin Minics | Catégorie de produits
{% endblock %}

{% block body %}
    <div class="container">

        {#     success , OBJET MESSAGE       #}
        {% for label, messages in app.flashes(['success', 'danger' ]) %}
            {# "La catégorie a été enregistrée." in OBJET MESSAGE    #}     
                                              
            {% for message in messages %}
                {#      bg-success  #}
                {#      bg-danger   #}
                <div class="bg-{{ label }} text-white p-3 mb-3">
                    {{ message|raw }}
                </div>                
            {% endfor %}
        {% endfor %}

        <div>
            <h2 class="my-4 fs-3">Liste des catégories</h2>
     

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Enregistré le</th>
                            <th>Actions</th>                      
                        </tr>                   
                    </thead>
                    <tbody>
                        {% for item in dbCategory %}
                            {# {{ dump(item) }}  #}
                            <tr>
                                <td>{{ item.title}}</td>
                                <td>{{ item.description}}</td>
                                <td>{{ item.createdAT|date('d/m/Y à H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('app_admin_category_update', {'id': item.id}) }}" class="btn btn-dark mb-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                                    
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                    </div>
                                </div>
                                </div>

                            </tr>                           
                        {% endfor %}                    
                    </tbody>                                
                </table>
        </div>

        <div>        
            <h2 class="my-4 fs-3">Ajouter une catégorie</h2>

                {{ form_start(categoryForm) }}

                {{ form_row(categoryForm.title) }}

                {{ form_row(categoryForm.description) }}

                <button type="submit">Enregistrer</button>

                {{ form_end(categoryForm) }}
        </div>
        
    </div>

{% endblock %}